.item {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.isOnline {
  background-color: #24a902;
}
.isOfline {
  background-color: #ff0101;
}

.avatar {
  width: 45px;
  height: 45px;
  padding: 10px;
  background-color: #ffdada;
  border-radius: 50%;
}

.name {
  font-size: 24px;
}
